# Vim Temporary files
**/*~
# Cleaning Script file
clean.sh
# Dropbox folder
.dropbox
# Swp files made by Gummi (Tex Editor)
**/*.swp
# Jupyter Checkpoint Folders
**/.ipynb_checkpoints
# flaged files: Files containing 'test_' in the beginning of their name
**/test_*
# PyCache
**/__pycache__
